
/* Estilo inicial para los botones */
QPushButton#buttonLoggOut,
QPushButton#buttonProfile,
QPushButton#buttonTopics,
QPushButton#buttonTicket,
QPushButton#buttonPayments,
QPushButton#buttonCredits,
QPushButton#buttonSettings {
    background-color: white;
    color: #848cba;
    border-radius:10px;
}

/* Efecto hover para los botones */
QPushButton#buttonLoggOut:hover,
QPushButton#buttonProfile:hover,
QPushButton#buttonTopics:hover,
QPushButton#buttonTicket:hover,
QPushButton#buttonPayments:hover,
QPushButton#buttonCredits:hover,
QPushButton#buttonSettings:hover {
    background-color: #ebeffd;

}
QFrame#siderBar{
    background-color: rgb(255, 255, 255);
    border-radius:10px;
}